<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="static/css/jmobile/jquery.mobile-1.4.4.min.css"/>
    <link rel="stylesheet" href="static/css/ionic.min.css"/>
    <link rel="stylesheet" href="static/css/libs.css" />
    <link rel="stylesheet" href="static/css/default.css" />
    <link rel="stylesheet" href="static/css/home.css" />
    <link rel="stylesheet" href="static/css/slide_left.css" />
  </head>
  <body class="metro" style="">

    <div id="left_menu">
      <ul>
        <li class="newsfeed" ><a href="#" title="Home">News Feed</a></li>
        <li class="profile" ><a  class="glyphicons user" data-name="user" data-type="" data-prefix="glyphicons" data-utf="E004" href="#" title="profile">Profile</a></li>
        <li class="setting" ><a class="glyphicons user" data-name="user" data-type="" data-prefix="glyphicons" data-utf="E004" href="#" title="settings">Settings</a></li>
        <li class="logout" ><a href="#" title="logout">Logout</a></li>
      </ul>
    </div>
    <header>
      <section class="bar bar-header bar-assertive">
        <a href="#" class="button button-icon icon-popupgourmet"></a>
        <h1 class="title"></h1>
        <div class="buttons">
          <button class="button button-icon ion-ios7-search" ng-click="popover.show($event)"></button>
          <button class="button button-icon ion-flag" ng-click="popover.show($event)"></button>
          <button class="button button-icon ion-location" ng-click="popover.show($event)">
          </button>
        </div>
      </section>
      <section class="bar bar-subheader bar-assertive"  style="display: none">
        <form name="gen-search" id="gen-search" method="post">
          <div class="form-group">
            <input type="search" class="form-control" placeholder="Search" />
            <button type="button" class="btn btn-primary ">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </div>
          </div>
        </form>
      </section>
    <section class="tabs-striped tabs-top tabs-background-light tabs-dark">
      <div id="menu-slider" class="tabs">
        <a class="tab-item active" href="#home">
          Home
        </a>
        <a class="tab-item" href="#restaurants">
          Restaurants
        </a>
        <a class="tab-item" href="#recipes">
          Recipes
        </a>
        <a class="tab-item" href="#culinarytalents">
          Culinary Talents
        </a>
        <a class="tab-item" href="#culinarytours">
          Culinary Tours
        </a>
      </div>
    </section>
    </header>
  <ion-content>
    <main id="pages">
      <!--     Home Page       -->
      <div data-role="page" class="data-content" id="home">
        <section data-role="main" class="ui-content news-feeds container-fluid">
        </section>
      </div>

      <!--     Restaurants Page       -->
      <div data-role="page" class="data-content" id="restaurants">
        <section data-role="main" class="ui-content restaurants-feeds container-fluid">
        </section>
      </div>

      <!--     Recipes Page       -->
      <div data-role="page" class="data-content" id="recipes">
        <section data-role="main" class="ui-content recipes-feeds container-fluid">
        </section>
      </div>

      <!--     Culinary Talent Page       -->
      <div data-role="page" class="data-content" id="culinarytalents">
        <section data-role="main" class="ui-content culinarytalents-feeds container-fluid">
        </section>
      </div>

      <!--     Culinary Tours Page       -->
      <div data-role="page" class="data-content" id="culinarytours">
        <section data-role="main" class="ui-content culinarytours-feeds container-fluid">
        </section>
      </div>
    </main>
  </ion-content>

  <script src="static/js/jquery.js"></script>
  <script src="static/js/jquery.mobile-1.4.4.min.js"></script>
  <script src="static/js/libs.js"></script>
  <script src="static/js/default.js"></script>
  <script src="static/js/restaurant.js"></script>
  <script src="static/js/article.js"></script>
  <script src="static/js/recipe.js"></script>
  <script src="static/js/home.js"></script>
  <script src="static/js/slide_left.js"></script>
  <script src="static/js/culinarytalents.js"></script>
  <script src="static/js/culinarytours.js"></script>
  </body>
</html>
