.margin-top{
    margin-top: 10px;
}

.margin-bottom{
    margin-bottom: 10px;
}


.full-width{
    width: 100%;
    display: inline-block;
}

.no-padding{
    padding: 0 !important;
}

.hidden{
    display: none;
}

.btn-facebook{
    background:url(../../img/fbbtn.png) no-repeat #45629e;
    background-position: center;
    background-size: cover;
    opacity:0.9;
    border: none;
    outline: none;
}

.clickable{
    cursor: pointer;
}

.alerter{
    position: absolute;
    top: 50px;
    width: 90%;
    margin: 0 5%;
    z-index: 9999 !important;
}
/*

@media (min-width: 541px) and (max-width: 720px) {
    *:not(h1):not(h2):not(h3):not(h4):not(h5):not(.glyphicon):not(input):not(button) {
        font-size: 11px;
    }
}

@media (max-width: 540px) {
    *:not(h1):not(h2):not(h3):not(h4):not(h5):not(.glyphicon):not(input):not(button) {
        font-size: 9px;
    }
    h1{
        font-size: 2em;
        font-weight: 900;
    }
    h2{
        font-size: 1.7em;
        font-weight: 800;
    }
    h3{
        font-size: 1.5em;
        font-weight: 700;
    }
    h4{
        font-size: 1.3em;
        font-weight: bolder;
    }
    h5{
        font-size: 1.2em;
        font-weight: bolder;
    }
    h6{
        font-size: 1.1em;
    }
}
*/


.stars{
    display: inline-block;
    width:80px;
    background-position:0 -16.5px;
    position:relative;
    text-indent:100%;
    white-space:nowrap;
    overflow:hidden;
}
.stars, .stars:after{
    height:16px;
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAgCAIAAACU62+bAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAldJREFUeNqMVMuOEkEUPY0EQksHFBIHXKgxEBIW+gGYsHVhcOXCzfgp8wluTVjgxoQlP4C4x2QmhkAgRFagBmLzGKAJ2J6qAqaZ7mHm5qa4j3Nudd1bhWbbNtzy5ZlY3/90Z3we6P43rHpCe5W7Eb6f4TGE/vh4BwLL/6nhAYTSoHuMsBqL8ieAX+qJ3I1Bh2h2/QzTntBBTQQMICXRlDXQAabSTuRhPKVq9icgLlXf4dxC5hwYCvUhX8Jf4N7NaMgUAYTlSz6kT/GqhBZweTOBKQIIS5/KQx/nONCOLtF5/gGmF4FBpiT6sK1slO5F0GXKYw6jcwR2tiVVSUCmHOffT83EfdnB38AvGeHgHkEEV6ZrB14BXeIugH95vD3Hu54wLmRQx/6O7AiznhjN5Uu8ruHNV8RewHgiDLoMziVgezXUe2h/3vZKSqvFRiKTyWzLObL+q7Y6pF6vHxAcWY/3wPJTKWqf2x8Qyz+Uova5hdDv91k7IYUG3WsAbTKZMDEcDi3LUmi2IZ1Oi6O225qmGYaRTCaDwWA8Hqetlcvl0WgUkBIKhZiIRCJcxbgtazwec10sFispsVhMWy6XlUrFNM1sNuv3e7+J9XrdaDSi0WihUBBzYA1y5vN5KpVyc4judDq6rhPNncWh+UOHISaYPoK+6hKdXC7Hb91sNk4CXQaZUuiDtrJdiukkKFelrl9vNjQcDitjMBiIf5ZEgn1kkBEPAkfBtdvtspVsPG1+PVu8T3nsMJvNWJLnUwTOsVqtMnjwnfZOisVis9m0XcIgU3v3vwADALitWRkkbzItAAAAAElFTkSuQmCC);
}
.stars:after{
    content:"";
    background-position:0 0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
}

.s-0:after      { width: 0  ; }
.s-0\.5:after   { width: 8px; }
.s-1:after      { width:16px; }
.s-1\.5:after   { width:24px; }
.s-2:after      { width:32px; }
.s-2\.5:after   { width:40px; }
.s-3:after      { width:48px; }
.s-3\.5:after   { width:56px; }
.s-4:after      { width:64px; }
.s-4\.5:after   { width:72px; }
.s-5:after      { width:80px; }
